<div class="form-group">
	<div ng-class="::{'input-group': (options.showTitle || options.addon)}">
		<div class="btn-group-heading input-group-addon" ng-if="::options.showTitle">
			<label for="{{::uniqId}}">{{::options.name}}</label>
		</div>

		<select id="{{::uniqId}}"
		        class="form-control"
		        ng-model="value"
		        ng-style="::{'min-width': options.width}">
			<option value="">-- Select --</option>
			<option value="1">Yes</option>
			<option value="0">No</option>
		</select>

		<div class="input-group-addon" ng-if="::options.addon" ng-transclude></div>
	</div>
</div>