<div class="form-group">
	<div class="input-group">
		<div class="input-group-addon" ng-if="::showTitle">
			<label for="{{::uniqId}}">{{::name}}</label>
		</div>

		<input id="{{::uniqId}}"
		       type="text"
		       data-container="body"
		       class="form-control {{::class}}"
		       bs-datepicker
		       data-date-format="MM/dd/yyyy"
		       data-model-date-format="MM/dd/yyyy"
		       data-date-type="string"
		       data-autoclose="1"
		       ng-model="value"
		       placeholder="{{::name}}"
		       ng-style="::{'min-width': width}"
		       ng-required="::required"/>

		<div class="input-group-addon">
			<label for="{{::uniqId}}" class="glyphicon glyphicon-calendar" style="cursor: pointer;"></label>
			<ng-transclude/>
		</div>
	</div>
</div>