<div class="page_site-index">

	<div class="jumbotron">
		<h1>Welcome to hospital</h1>
	</div>

	<div class="body-content">
		<div class="row">
			<div class="col-md-3">
				<a class="btn btn-lg btn-block btn-success" href="#/micro-referral/">Micro Referral</a>
			</div>
			<div class="col-md-3">
				<a class="btn btn-lg btn-block btn-success" href="#/blood-cultures/">Blood cultures</a>
			</div>
			<div class="col-md-3">
				<a class="btn btn-lg btn-block btn-success" href="#/opat/">OPAT</a>
			</div>
			<div class="col-md-3">
				<a class="btn btn-lg btn-block btn-success" href="#/notifications">Notifications</a>
			</div>
		</div>
	</div>
</div>
